<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="{{car.logo}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{car.make}} {{car.model}}</h5>
                    <p class="card-text">{{car.monthlyprice}}/month</p>
                    <p class="card-text">{{car.weeklyprice}}/week</p>
                    <a href="/displayCar/{{car._id}}" class="btn btn-primary">Contact Owner</a>
                </div>
                </div>
        </div>
        <div class="col-sm-4">
            <form action="/calculateTotal/{{car._id}}" method="POST">
            <div class="form-group">
                <label for="month">How long do you want to rent?</label>
                <select name="month" class="form-control">
                    <option value="1">1 mo</option>
                    <option value="2">2 mos</option>
                    <option value="3">3 mos</option>
                    <option value="4">4 mos</option>
                    <option value="5">5 mos</option>
                    <option value="6">6 mos</option>
                    <option value="7">7 mos</option>
                    <option value="8">8 mos</option>
                    <option value="9">9 mos</option>
                    <option value="10">10 mos</option>
                    <option value="11">11 mos</option>
                    <option value="12">12 mos</option>
                </select>
                <select name="week" class="form-control">
                    <option value="0">0 wk</option>
                    <option value="1">1 wk</option>
                    <option value="2">2 wk</option>
                    <option value="3">3 wk</option>
                    <option value="4">4 wk</option>
                </select>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-danger">Calculate Total</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>